/*This file contains all universal stylings that are used by index, cast, and review.  By remaining separate, it allows all three pages to pull from the same place, resulting in easier editing*/
body{
    margin:0%;
}
div{
    margin:0%;
    padding: 15px;
}
p{
    margin: 0px 5px;
}

#header{
    background-color: rgb(96, 194, 240);
}
#nav, #footer{
    background-color: rgb(218, 124, 181);
}
#main{
    background-color: rgb(241, 197, 167);
    margin:0px 5%;
}

.center{
    text-align: center;
}